<!DOCTYPE html>
<!--
  Luigi (he/they):: Yat Long Chan, Brian Wang
  SoftDev pd 8
  K12: Form(s) Take and Give
  2022-10-17
  time spent: 0.5 hours
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form method="post" action="/response"> <!-- creates a form in the /auth route -->
      <input type="text" name="username">  <!-- text field -->
      <input type="submit" name="sub1"> <!-- button -->
    </form>
    <br>
  </body>

</html>
